<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Estudiantes</h1><br>
        <div class="row" [hidden]="!deleteMessage">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Etudiante eliminado</strong>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Número de identificación</th>
                    <th>Acción</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students ">
                    <td>{{student.name}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.identificationNumber}}</td>
                    <td><button (click)="deleteStudent(student.id)" class='btn btn-primary'><i class="fa fa-futboll-0">Eliminar</i></button>
                        <button (click)="updateStudent(student.id)" class='btn btn-info' data-toggle="modal" data-target="#myModal">Editar</button>
                    </td>
                </tr>
            </tbody><br>
        </table>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="studentupdateform" #updstu (ngSubmit)="updateStu(updstu)">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">Modificar estudiante</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body" *ngFor="let student of studentlist ">
                    <div [hidden]="isupdated">

                        <input type="hidden" class="form-control" formControlName="student_id" [(ngModel)]="student.id">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" formControlName="student_name" [(ngModel)]="student.name">
                        </div>
                        <div class="form-group">
                            <label for="name">Apellido</label>
                            <input type="text" class="form-control" formControlName="student_last_name" [(ngModel)]="student.lastName">
                        </div>

                        <div class="form-group">
                            <label for="name">Número de identificación</label>
                            <input type="text" class="form-control" formControlName="student_passport" [(ngModel)]="student.identificationNumber">
                        </div>


                    </div>
                    <div [hidden]="!isupdated">
                        <h4>Estudiante modificado!</h4>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [hidden]="isupdated">Editar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Cerrar</button>
                </div>

            </form>
        </div>
    </div>
</div>